<div class="capco-table">
  <br />
  <!-- <div class="serarchFilter">
    <select name="" id="" (change)="onFilterChange($event)">
      <option value="">Select Filter Type</option>
      <option *ngFor="let c of columns" [value]="c">{{ c }}</option>
    </select>
    <input *ngIf="filter" type="text" class="search" placeholder="Search by {{ filter }}" [(ngModel)]="query" />

    <button *ngIf="filter" (click)="updateFilterResults()">Search</button>
  </div> -->
  <table class="">
    <thead>
      <tr>
        <th class="capco-header" *ngFor="let column of columns">
          {{ column }}
        </th>        
      </tr>
    </thead>
    <tbody>
      <tr class="capco-body" *ngFor="let user of users | async">
       <td *ngFor="let userproperty of columns">
          {{user[userproperty]}}
       </td>
      </tr>
    </tbody>
  </table>
</div>
