<div class="capco-table">
  <br />
  <div>
    <select name="" id="" (change)="onFilterChange($event)" class="capco-table-searchfilter">
      <option value="">Select Filter Type</option>
      <option *ngFor="let c of columns" [value]="c">{{ c }}</option>
    </select>

    <input *ngIf="filter" type="text" [(ngModel)]="query" class="search" class="capco-table-searchfilter" placeholder="Search by {{ filter }}" />

    <button *ngIf="filter" class="capco-table-searchfilter" (click)="updateFilterResults()">Search</button>
  </div>

  <table class="">
    <thead>
      <tr>
        <th class="capco-header" *ngFor="let column of columns">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="capco-body" *ngFor="let user of users | async">
        <td *ngFor="let userproperty of columns" class="capco-body-cell">
          {{user[userproperty]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-capco-pagination *ngIf="(users | async)" class="capco-pagination"
      [limit]="limit "
      [page]="page"
      [pages]="pages"
      [resultsLimits]="resultsLimits"
      (limitChanged)="onLimitChanged($event)"
      (goPage)="onPage($event)"
      (goPrev)="onPrev($event)"
      (goNext)="onNext($event)">
</app-capco-pagination>
