.capco-table{
    height: 70vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: solid rgba(192, 39, 39, 0.884);
}
.capco-header {
    background: rgb(190, 188, 49);
    color:white;
    height: 10vh;
    width: 10vw;   
    text-transform: capitalize;
}
.capco-body{
    color: lightblue;
}